---
import { Image } from "@astrojs/image/components";
---

<div class="relative group cursor-pointer w-80 h-80 overflow-hidden rounded">
  <Image
    src="https://plus.unsplash.com/premium_photo-1665259727922-b28a272be788?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1127&q=80"
    alt="Test image"
    format="avif"
    width={350}
    class="rounded hover:scale-105 transition-all duration-200 ease-out"
    aspectRatio={1 / 1}
  />
  <div class="z-10 absolute h-28 bottom-0 bg-gradient-to-t from-black  w-full pt-5 px-2">
      <h1 class="text-white text-2xl font-semibold transition-all duration-150 ease-in group-hover:text-3xl">This is external link 1 and long text with </h1>
      <p class="text-white absolute transition-opacity duration-200 ease-out group-hover:opacity-0">25th Feb, 2022</p>
  </div>
</div>
