---
import { Image } from "@astrojs/image/components";
import ByteCapsule from "../assets/bytecapsuleit.jpeg";
---

<section class="my-10 w-full border-l border-gray-300 p-3 flex">
    <h1 class="text-red-400 text-xl font-semibold mr-10">Experience</h1>
    <div class="flex flex-col space-y-10">
      <div class="">
        <div class="flex justify-between w-full">
          <div class="flex flex-col border-l border-gray-300">
            <div class="mx-5">
              <div class="flex items-center mb-1">
                <Image src={ByteCapsule} alt="" class="h-6 w-6 mr-2" aspectRatio={1/1} fit='cover' format='avif' />
                <h1 class="text-lg font-semibold">Byte Capsule Ltd.</h1>
              </div>
              <h3>Full Stack Developer</h3>
            </div>
          </div>
          <p class="text-gray-600">2020-2022</p>
        </div>
        <div class="ml-5 mt-4">
          <p class="text-sm text-gray-600">
            As a Full Stack Developer at Byte Capsule Ltd, I optimized
            application performance, developed and maintained a complex web
            application using the MERN stack, and implemented new features on
            the front-end using React. I collaborated with the product team to
            gather requirements and helped to attract new customers with
            improved application speed and reliability.
          </p>
        </div>
      </div>
    </div>
  </section>